venv/
**.env
**.env.gcloud
*.jpg
*.png
**.terraform
**.terragrunt-cache
config.yaml
id_rsa
**package/
**.zip
__pycache__
id_rsa
**.mp3
**.mp4
**test/
**.venv/
storage/
**.chainlit/
**.sql
cred/
infrastructure/layers/*/python/
**docker-run-istruzioni.txt
**layer/
**.env.url
**.vscode