openai
# PyPDF2~=2.0
# numpy==1.26.0
python-dotenv
# python-multipart
httptools
# uvloop
boto3==1.28.17
langchain==0.1.5
langchain_experimental
langchain_openai
requests==2.31.0

# llava-torch==1.1.1
qdrant-client==1.7.3
# git+https://github.com/openai/whisper.git
# pytube

# google-cloud-vision
# google-cloud-storage

telepot