openai
PyPDF2~=2.0
numpy==1.26.0
python-dotenv
python-multipart
httptools
# uvloop
boto3==1.28.17
langchain==0.1.5
langchain_experimental
langchain_openai
requests==2.31.0
trubrics[streamlit]
streamlit==1.27.0
streamlit_authenticator==0.2.3
spacy==3.6.1
tiktoken
mutagen==1.47.0
func_timeout==4.3.5
s3fs==2023.9.2
git+https://github.com/streamlit/files-connection
streamlit_cognito_auth
yt_dlp
pydub
librosa
# chromadb
torch==2.1
transformers==4.34.1
accelerate==0.26.1
bitsandbytes==0.41.1

# llava-torch==1.1.1
qdrant-client==1.7.3
# git+https://github.com/openai/whisper.git
pytube

# google-cloud-vision
# google-cloud-storage